<tr>
  <td>
    <%= sale.name %>
  </td>
  <td>
    <%= sale.start_date %>
  </td>
  <td>
    <%= sale.end_date %>
  </td>
  <td>
    STATUS
  </td>
  <td>
    <%= sale.percent_off %>%
  </td>
  <td>
    <%= link_to fa_icon('trash'), [:admin, sale], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </td>
</tr>